In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("C:/Users/R Zal/Desktop/Data analysis/Repository/Demographic data analyzer/adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
print("Number of each race:\n", race_count)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [7]:
# What is the average age of men?
average_age_men = round(df[df['sex'] == 'Male']['age'].mean(), 1)
print("Average age of men:", average_age_men)

Average age of men: 39.4

In [8]:
# What is the percentage of people who have a Bachelor's degree?
num_bachelors = len(df[df['education'] == 'Bachelors'])
total_num = len(df)
percentage_bachelors = round(num_bachelors / total_num * 100, 1)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")

Percentage with Bachelors degrees: 16.4%

In [9]:
# Suponiendo que 'df' es tu DataFrame con los datos
# Filtrar las filas con educación avanzada (Bachelors, Masters o Doctorate)
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# Filtrar las filas sin educación avanzada
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# Calcular el porcentaje de personas con educación avanzada que ganan más de 50K
percentage_higher_education = (higher_education[higher_education['salary'] == '>50K'].shape[0] / higher_education.shape[0]) * 100

# Calcular el porcentaje de personas sin educación avanzada que ganan más de 50K
percentage_lower_education = (lower_education[lower_education['salary'] == '>50K'].shape[0] / lower_education.shape[0]) * 100

print("Percentage of people with advanced education earning more than 50K:", round(percentage_higher_education, 2))
print("Percentage of people without advanced education earning more than 50K:", round(percentage_lower_education, 2))

Percentage of people with advanced education earning more than 50K: 46.54
Percentage of people without advanced education earning more than 50K: 17.37

In [10]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = round(df['hours-per-week'].mean(),2)
print(f"Min work time: {min_work_hours} hours/week")

Min work time: 40.44 hours/week

In [11]:
# Suponiendo que 'df' es tu DataFrame con los datos
# Identificar el número mínimo de horas trabajadas por semana
min_work_hours = df['hours-per-week'].min()

# Filtrar las personas que trabajan el número mínimo de horas por semana
num_min_workers = df[df['hours-per-week'] == min_work_hours]

# Verificar si hay personas en el grupo 'num_min_workers'
if len(num_min_workers) > 0:
    # Calcular el porcentaje de personas con salario >50K entre aquellos que trabajan el mínimo de horas
    rich_percentage = round(len(num_min_workers[num_min_workers['salary'] == '>50K']) / len(num_min_workers) * 100, 1)
    print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
else:
    print("No one works the minimum number of hours per week.")

Percentage of rich among those who work fewest hours: 10.0%

In [12]:
# What country has the highest percentage of people that earn >50K?
country_count = df['native-country'].value_counts()
country_rich_count = df[df['salary'] == '>50K']['native-country'].value_counts()
  
highest_earning_country = (country_rich_count / country_count *100).idxmax()
highest_earning_country_percentage = round((country_rich_count / country_count *100).max(),1)
print("Country with highest percentage of rich:", highest_earning_country)

Country with highest percentage of rich: Iran

In [13]:
# What country has the highest percentage of people that earn >50K?
country_count = df['native-country'].value_counts()
country_rich_count = df[df['salary'] == '>50K']['native-country'].value_counts()
  
highest_earning_country = (country_rich_count / country_count *100).idxmax()
highest_earning_country_percentage = round((country_rich_count / country_count *100).max(),1)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")

Highest percentage of rich people in country: 41.9%

In [14]:
# Identify the most popular occupation for those who earn >50K in India.
people_of_india = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
ocupation_counts = people_of_india['occupation'].value_counts()
top_IN_occupation = ocupation_counts.idxmax()
print("Top occupations in India:", top_IN_occupation)

Top occupations in India: Prof-specialty